<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/destinations/">Destinations</a></li>
        <ul role="menu">
            <li role="menu-item"><a href="{{site.baseurl}}tag/europe/">Europe</a></li>
        </ul>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/features/">Features</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/austria/">Austria</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/photography/">Photography</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/photo-story/">Photo Story</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}guest-post/">Guest Post</a></li>
</ul>
